
<h3 class="sideheaders">My Best friends</h3>
<div class="sidebox">
    <img src="https://64.media.tumblr.com/38441dd588e4ced837c56e592b179792/ec8f693b87536b40-ef/s100x200/76fd6a231fe77cb006500be3762d07f91aafa781.gifv" style="opacity:0.9;">
    <img src="https://petrapixel.neocities.org/assets/img/blinkies/stamps/gay-agenda.gif" style="opacity:0.9;">
</div>