<h3 class="sideheaders">Her Stats</h3>
<div class="sidebox">
    <img src="https://graphic.neocities.org/kitten19.gif" style="opacity:0.9;">
    <img src="https://graphic.neocities.org/kitten15.gif" style="opacity:0.9;">
    <img src="https://graphic.neocities.org/kitten40.gif" style="opacity:0.9;">
    <p><b>Born:</b> Somewhere between September 2007 and April 2008</p>
    <p><b>Weight:</b> Always a Smol bean. Never hit 10lbs</p>
    <p><b>Color:</b> Calico Tabby perfection</p>
    <p><b>Number of Spots?</b> Yes.</p>
    <p><b>Final Day in the Sun: </b> July 8 2026</p>
</div>