<h3 class="sideheaders">Humans Info</h3>
<div class="sidebox">
    <p>A'ledyn Spent over 15 of Kittles wonderful years with her, giving her love and affection and taking her as his personal familiar in magic. </p>
    <p>Alice met her when she was already a rather old lady at 11 or 12ish. Alice loved her very much and helped her stay alive into her very senior years with unwavering devotion.</p>
</div>