<h3 class="sideheaders">Links</h3>
<div class="sidebox">
    <img src="https://kopawz.neocities.org/stamphoard/stamps2/nekoatsume.gif" style="opacity:0.9;">
    <img src="https://64.media.tumblr.com/b199db6b1fc9cca1822f3de09caebde0/4f91c9b5f45da823-64/s100x200/4d30ea0957f876a69ab6071fa12a44de8bc2136e.gifv" style="opacity:0.9;">
</div>