<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.name }}</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Water+Brush&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <!-- Full page container -->
  <div class="container">

    <!-- Header -->
    <div class="headerwrapper">
        <div class="header">
            <h1>Kittles</h1>
        </div>
    </div>

    <!-- Container for middle of the page -->
    <div class="boxwrapper">

      <!-- Left Sidebar -->
      <div class="boxes sidebar sidebars">

        <!-- Navigation -->
        <div class="nav">
            <h3 class="sideheaders">Navigate</h3>
            <div class="sidebox">
                <ul>
                
                    {% for item in site.nav %}
                      <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- SIDEBAR LEFT BOX 2 -->
        <h3 class="sideheaders">My Best friends</h3>
        <div class="sidebox">
            <img src="https://64.media.tumblr.com/38441dd588e4ced837c56e592b179792/ec8f693b87536b40-ef/s100x200/76fd6a231fe77cb006500be3762d07f91aafa781.gifv" style="opacity:0.9;">
            <img src="https://petrapixel.neocities.org/assets/img/blinkies/stamps/gay-agenda.gif" style="opacity:0.9;">
        </div>

        <!-- SIDEBAR LEFT BOX 3 -->
        <h3 class="sideheaders">Forever Loved</h3>
        <div class="sidebox">
            <p>Love was the essence of who I was and always will be in the deepest of dreams and memories.</p>
        </div>
      </div>

      <!-- Middle content -->
                <div class="boxes main">
                {{ content | safe }}
                </div>

      <!-- Right sidebar -->
                <div class="boxes sidebar2 sidebars">

                    <!-- SIDEBAR RIGHT BOX 1 -->
                    <h3 class="sideheaders">Her Stats</h3>
                    <div class="sidebox">
                        <img src="https://graphic.neocities.org/kitten19.gif" style="opacity:0.9;">
                        <img src="https://graphic.neocities.org/kitten15.gif" style="opacity:0.9;">
                        <img src="https://graphic.neocities.org/kitten40.gif" style="opacity:0.9;">
                        <p><b>Born:</b> Somewhere between September 2007 and April 2008</p>
                        <p><b>Weight:</b> Always a Smol bean. Never hit 10lbs</p>
                        <p><b>Color:</b> Calico Tabby perfection</p>

                        <p><b>Number of Spots?</b> Yes.</p>


                        <p><b>Final Day in the Sun: </b> July 8 2026</p>
                    </div>

                    <!-- SIDEBAR RIGHT BOX 2 -->
                    <h3 class="sideheaders">Humans Info</h3>
                    <div class="sidebox">
                        <p>A'ledyn Spent over 15 of Kittles wonderful years with her, giving her love and affection and taking her as his personal familiar in magic. </p>
                        <p>Alice met her when she was already a rather old lady at 11 or 12ish. Alice loved her very much and helped her stay alive into her very senior years with unwavering devotion.</p>
                    </div>

                    <!-- SIDEBAR RIGHT BOX 3 -->
                    <h3 class="sideheaders">Links</h3>
                    <div class="sidebox">
                        <img src="https://kopawz.neocities.org/stamphoard/stamps2/nekoatsume.gif" style="opacity:0.9;">
                        <img src="https://64.media.tumblr.com/b199db6b1fc9cca1822f3de09caebde0/4f91c9b5f45da823-64/s100x200/4d30ea0957f876a69ab6071fa12a44de8bc2136e.gifv" style="opacity:0.9;">
                    </div>

                    <!-- SIDEBAR RIGHT BOX 4 -->
                    <h3 class="sideheaders">Hitbar</h3>
                    <div class="sidebox">
                        <script type="text/javascript" src="https://counter.websiteout.com/js/11/0/0/1"></script>
                    </div>

                </div>
    </div>
  </div>

  
  <div id="credit"><a href="https://repth.neocities.org/index.html">©repth</a></div>
  <!-- 
  <header>
    <nav>
    {% for item in collections.nav %}
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    {% endfor %}
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>&copy; 2026 {{ site.name }}</p>
  </footer>
  -->
</body>
</html>