<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.name }}</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Water+Brush&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <!-- Full page container -->
  <div class="container">
    {% include "components/header.njk" %}


    <!-- Container for middle of the page -->
    <div class="boxwrapper">

      <!-- Left Sidebar -->
      <div class="boxes sidebar sidebars">
        {% include "components/navigation.njk" %}
        {% include "components/best-friends.njk" %}
        {% include "components/forever-loved.njk" %}
      </div>

      <!-- Middle content -->
      <div class="boxes main">
        <div class="section">
            <h3 class="middleheaders">{{ title }}</h3>
            <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
            <p>{{ content | safe }}</p>

            {% set currentIndex = -1 %}
            {% for post in collections.lifestory %}
              {% if post.url == page.url %}
                {% set currentIndex = loop.index0 %}
              {% endif %}
            {% endfor %}

            {% if currentIndex >= 0 %}
              {% if currentIndex > 0 %}
                {% set previousPost = collections.lifestory[currentIndex - 1] %}
                <p><a href="{{ previousPost.url }}">Previous: {{ previousPost.data.title }}</a></p>
              {% endif %}

              {% if currentIndex + 1 < collections.lifestory.length %}
                {% set nextPost = collections.lifestory[currentIndex + 1] %}
                <p><a href="{{ nextPost.url }}">Next: {{ nextPost.data.title }}</a></p>
              {% endif %}
            {% endif %}

            <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
        </div>
      </div>

      <!-- Right sidebar -->
      <div class="boxes sidebar2 sidebars">
        {% include "components/her-stats.njk" %}
        {% include "components/humans-info.njk" %}
        {% include "components/links.njk" %}
        {% include "components/hitbar.njk" %}
      </div>
    </div>
  </div>
  
  <div id="credit"><a href="https://repth.neocities.org/index.html">©repth</a></div>
</body>
</html>