---
layout: layouts/base.njk
title: Art and Tributes
nav: true
navOrder: 4
---
<div class="section">
    <h3 class="middleheaders">Art and Tributes</h3>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
    
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
</div>
