---
layout: layouts/base.njk
title: Art and Tributes
nav: true
navOrder: 4
---
<div class="section">
    <h3 class="middleheaders">Art and Tributes</h3>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
    
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="\assets\img\Mystery Artist.jpg">
      <img src="\assets\img\Mystery Artist.jpg" alt="Drawing of Calico Kittles saying '<3 Joder'">
    </a>
    <div class="desc">This mysterious drawing of Kittles was done by someone who did not sign their name and saved for a long time, it stands today, one of the lasting drawing of my Baby girl. </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="\assets\img\Monkey.jpg">
      <img src="\assets\img\Monkey.jpg" alt="Drawing of Kittles done by the young child of one of my close friends.">
    </a>
    <div class="desc">This drawing of Kittles was done by the young child of one of my close friends. It's a simple yet heartwarming depiction of our beloved pet. </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="\assets\img\King Cobera.jpg">
      <img src="\assets\img\King Cobera.jpg" alt="Drawing of Calico Cat">
    </a>
    <div class="desc">This is a drawing of Kittles was done by the queer child of one of my close friends. It was created with love and care by a talented artist. </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="\assets\img\Libby.jpg">

    </a>
    <div class="desc">Watercolour painting of Kittles by the talented Artist Libby.</div>
  </div>
</div>

<div class="clearfix"></div>


    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
</div>
