---
layout: layouts/base.njk
title: Etc
nav: true
navOrder: 5
---
<div class="section">
    <h3 class="middleheaders">Lifestory</h3>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
    <p>Etc.</p>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
</div>
