---
layout: layouts/base.njk
title: Home
nav: true
navOrder: 1
---
{# Section 1 #}
<div class="section">
    <h3 class="middleheaders">Kittles</h3>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
    <img src= "https://not-quaden-network.neocities.org/assets/constructionline.gif" style="opacity:.3;">
    <p> Best Cat</p>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
</div>

{# SECTION 2 #}
<div class="section">
    <h3 class="middleheaders">Kittstruga</h3>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
    <p>She who reigned</p>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
</div>

{# SECTION 3 #}
<div class="section">
    <h3 class="middleheaders">Dark Kittles</h3>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
    <p>Forever watching</p>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
</div>