---
layout: layouts/base.njk
title: Home
nav: true
navOrder: 1
---
<img src= "https://not-quaden-network.neocities.org/assets/constructionline.gif" style="opacity:.3;">

{% for post in collections.post | reverse %}
<a href="{{ post.url }}">
<div class="section">
    <h3 class="middleheaders">{{ post.data.title }}</h3>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
    <p>{{ post.data.description }}</p>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
</div>
</a>
{% endfor %}
