---
layout: layouts/base.njk
title: Lifestory
nav: true
navOrder: 2
---
<div class="section">
    <h3 class="middleheaders">Lifestory</h3>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
    <p>Life Story</p>
    <img src= "https://pixelsafari.neocities.org/dividers/sparkles4.gif" style="opacity:.09;">
</div>
